body{
    background-image: url("../../client/images/Logo-7J.jpg"); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: 800px ;
   }

